.bodyOfPage{
    display: flex;
}
.bodyOfPage .sideBar{
    padding: 70px 5px 10px 20px;
    width: 15%;
    background: aqua;
}
.bodyOfPage .childrenItem{
    padding: 70px 5px 10px 20px;
    width: 85%;
    background: lime;
}
.bodyOfPage .userSubscribed{
    display: flex;
    flex-direction: column;
}
.bodyOfPage .userSubscribed button{
    background: none;
    border-radius: 5px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    border: none;
}


.bodyOfPage .sideBar .infor{
    display: flex;
    flex-direction: column;
}
.bodyOfPage .sideBar .infor button{
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
    width: 60%;
    justify-content: space-around;
    background: none;
    border: none;
}
.bodyOfPage .you{
    display: flex;
    flex-direction: column;
}
.bodyOfPage .you button{
    padding-top: 10px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 5px;
    background: none;
}
.bodyOfPage .you button i{
    font-size: 25px;
    
}
.bodyOfPage button:hover{
    background: rgb(189, 188, 188);
}