*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.css-19kzrtu{
    padding: 0 !important;
}
.MuiAppBar-colorPrimary{
    background: aliceblue !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.MuiButton-textPrimary{
    color: aqua !important;
    text-shadow: 1px 1px 2px rgb(4, 0, 231);
}
.active{
    background: rgb(61, 241, 166) !important;
}